/* Styling for background */
.grey {
  background-color: #f2f2f2;
  width: 100%;

  padding-bottom: 5%;
}

/* Styling for text */
.text-left {
  display: flex;
  flex-direction:column;
  width: 30%;
  margin-right: 5%;
  font: 15px Verdana, sans-serif;
}

.text-right {
  display: flex;
  flex-direction:column;
  width: 30%;
  margin-left: 5%;
  font: 15px Verdana, sans-serif;
}

.title {
  padding-top: 2%;
  font: 40px Verdana, sans-serif;
  font-weight: bold;
}

.subtitle {
  padding-top: 2%;
  font: 25px Verdana, sans-serif;
  font-weight: bold;
}

.text {
  display: flex;
  flex-direction:column;
  width: 75%;
  margin-right: 5%;
  font: 15px Verdana, sans-serif;
  padding-bottom: 1%;
}

/* Styling for divisions */
#flex-container-title {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
}

#flex-container-import-title {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
}

#flex-container-export-title {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
}

#flex-container-purpose-title {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
}

#flex-container-condition-title {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
}

#flex-container-protection-title {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
}

#flex-container-sunburst-title {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
}

#flex-container-map {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#flex-container-Export {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#flex-container-Sunburst {
  width: 90%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#flex-container-protection {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#flex-container-condition {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#flex-container-purpose {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vega-container,
.vega-container::after,
.vega-container::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.vega-container {
  width: 100%;
  display: flex;
  align-items: left;
  justify-content: left;
}

.vega-embed {
    width: 100%;
 }
